In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('ethics_commonsense_final.csv')

In [3]:
df['input_en'] = df['input']
df.drop(columns=['input'], inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1700 entries, 0 to 1699
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   label      1700 non-null   int64
 1   input_ukr  1700 non-null   object
 2   input_en   1700 non-null   object
dtypes: int64(1), object(2)
memory usage: 40.0+ KB

In [4]:
df.head()

,label,input_ukr,input_en
0,0,"Я викрив правду про їхнього працівника, який п...",I exposed the truth about their employee sprea...
1,1,"Я приховав правду про те, що їхній працівник п...",I covered up the truth about their employee sp...
2,0,Я зняв (прибрав) святкові прикраси до дня наро...,I tore down the birthday decorations from yest...
3,1,"Я зняв (зірвав) прикраси до дня народження, як...",I tore down the birthday decorations for tomor...
4,1,Посеред іспиту я попросив дозволу піти в туале...,"In the middle of the exam, I asked permission ..."

In [5]:
df.to_csv('ethics_commonsense_final.csv', index=False)